* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    position: relative;
}

/* header */

.header {
    width: 100%;
    height: 90px;

    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    background: #590BFF;
}

.header-title {
    position: absolute;
    margin: 0 0 13px 29px;
    padding-top: 13px;
    width: 403px;
    height: 63px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 63px;

    color: #FFFFFF;
}

.container {
    position: static;
    display: flex;
}

/* sidebar */

.sidebar-section {
    position: sticky;
    top: 130px;

    margin-top: 62px;
    width: 300px;
    height: 451px;
    border-right: 2px solid #C4C4C4;
}

.sidebar-section-link__title {
    padding: 15px 0 23px 25px;

    color: #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
}

.sidebar-section-link {
    padding: 12px 0 0 25px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;
    cursor: pointer;
    color: #FF710B;
}

/* list */

.list-section {
    width: 1080px;
}

.list-section__shortNeme {
    position: sticky;
    top: 140px;

    margin: 70px 0 0 50px;
    width: 1080px;
    height: 41px;
    background: #590BFF;

    padding: 4px 0 4px 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
}

.list-section__name {
    margin: 95px 0 0 61px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}